body {
    background-color: black;
}

.center-logo {
    width: 300px;
    height: 132.42px;

    margin: 20px auto;
    display: block;
}

h1 {
    color: white;
}

#flex-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.rol-icon {
    width: 100px;
    height: 100px;
    /*padding-left: 80px;
    padding-right: 80px;
    */
}

.hr-top {
    color: rgb(121, 11, 11);
}